.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.card {
    display: block;
    width: calc(50% - (2rem / 2));

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: .25rem;
    text-decoration: none;
    padding: .5rem;
    border-radius: .375rem;
    border: 1px solid var(--color-primary);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    transition:
        transform .125s linear,
        box-shadow .125s linear;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
    }
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    line-height: 1.2;
}

.title {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.2;
    min-height: 2lh;
}

.pubDate {
    text-align: end;
    font-size: 1rem;
    line-height: 1.2;
}

.btn_seeMore {
    margin-left: auto;
    margin-right: 1rem;
    text-decoration: none;
    background: var(--color-section-bg);
    color: var(--color-primary);
    border: none;
    padding: .5rem 1.5rem;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--color-primary);
        transition: left 0.4s ease;
        z-index: -1;
    }

    &:hover::before {
        left: 0;
    }

    &:hover {
        color: var(--color-section-bg);
    }
}

/* Skelton */
.skeleton {
    pointer-events: none;
}

.skeletonHeader,
.skeletonTitle,
.skeletonDate {
    background: linear-gradient(90deg, #eeeeee 25%, #f5f5f5 37%, #eeeeee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 4px;
}

.skeletonHeader {
    width: 25%;
    height: calc(1rem * 1.2);
    margin-bottom: .25rem;
}

.skeletonTitle {
    width: 100%;
    height: calc(1.125rem * 1.2);
    margin-bottom: .25rem;
}

.skeletonDate {
    margin-left: auto;
    width: 25%;
    height: calc(1rem * 1.2);
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}
