:root {
    --color-primary: #8c391b;
    --color-secondary: #a6450d;
    --color-accent: #0f766e;
    --color-bg: #f0f0f0;
    --color-section-bg: #ffffff;
    --color-text: #333333;
    --color-text-muted: #a0a0a0;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-text);
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    margin: 0;
    width: 100dvw;
    width: 100vw;
    min-height: 10dvh;
    min-height: 10vh;
}

main {
    margin: 0 5%;
}

section {
    margin: 1rem auto;
    background-color: var(--color-section-bg);
    border-radius: .375rem;
    padding: 1rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    padding: .25rem .5rem;
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

.text-muted {
    color: var(--color-text-muted);
}
