.main {
    min-height: 100dvh;
    min-height: 100vh;
}

#keyVisual {
    background-color: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

.keyVisual_avatar {
    width: 25dvw;
    height: auto;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.keyVisual_title {
    margin: 0;
    font-size: 1.75rem;
}

.keyVisual_introduce {
    font-size: 1.125rem;
}
