$font-size: 16px;

//SECTION - Color
$primary: #8c391b;
$secondary: #a6450d;
$accent: #0f766e;
//!SECTION

//SECTION - Body
$body-bg: #f0f0f0;
$body-color: #333333;
$body-color-muted: #a0a0a0;
//!SECTION

//SECTION - Header
$header-height: 64px;
//!SECTION

//SECTION - Section
$section-bg: #ffffff;
$section-radius: .375rem;
//!SECTION

$border-radius: .375rem;
